<h2>Add New Testrun</h2>

<p>Note that testruns can only be added for existing dancers in the database. If the dancer is not yet added, please <a href="/#!/master/add">do that first</a>.</p>

<form name="form" novalidate ng-submit="vm.save()" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />

        <div class="form-group" ng-class="{ 'has-error': form.dancer.$invalid }">
            <label for="dancer" class="control-label col-md-2">Select Dancer</label>
            <div class="col-md-10">
                <select class="form-control" name="dancer" required ng-model="vm.model.dancer" ng-options="item.label as item.label disable when item.disabled for item in vm.dancers"></select>
                <span class="text-danger help-block" ng-show="form.dancer.$error.required">(*) Required</span>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.file.$invalid }">
            <label for="file" class="control-label col-md-2">Upload CSV File</label>
            <div class="col-md-10">
                <input
                        type="file"
                        ngf-select
                        required
                        ng-model="vm.model.file"
                        name="csvfile"
                        ngf-pattern="'.csv'"
                        accept=".csv"
                        ngf-max-size="20MB"
                        />
                    <i ng-show="form.file.$error.required">*required</i><br>
                    <i ng-show="form.file.$error.maxSize">File too large
                    {{vm.model.file.size / 1000000|number:1}}MB: max 20M</i>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" ng-disabled="!form.$valid" class="btn btn-primary" />
                <a ng-click="vm.cancel()">Cancel</a>
            </div>
        </div>
    </div>
</form>
