dd {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

hr {
    border-color: #0E48A1;
}

#header {
    width: 100%;
    margin: 0;
 }

body, #ngview {
    /* height: 100vh; */
    background-color: #D9DFEA;
}

.btn-primary {
    background-color: #0E48A1;
}

.wrapper {
    min-height: 100%;
    /* margin-bottom: 50px; */
}

#footer {
  height: 50px;
  width: 100%;
  background-color: #0E48A1;
  color: white;
  text-align: center;
}

#div-list-dancers {
    height: 33px;
}

#div-list-dancers  .chosen-container-multi .chosen-choices {
    height: 33px !important;
    overflow-y: auto;
}
