<form name="form" novalidate ng-submit="vm.save()">
    <div class="form-horizontal">
        <h4>Add New Dancer</h4>
        <hr />

        <div class="form-group" ng-class="{ 'has-error': form.name.$invalid }">
            <label for="name" class="control-label col-md-2">Dancer Name</label>
            <div class="col-md-10">
                <input type="text" name="name" class="form-control" required ng-model="vm.model.name" />
                <span class="text-danger help-block" ng-show="form.name.$error.required">(*) Required</span>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.type.$invalid }">
            <label for="type" class="control-label col-md-2">Dancer Type</label>
            <div class="col-md-10">
                <select class="form-control" name="type" required ng-model="vm.model.type">
                  <option value="Training set dancer">Training set dancer</option>
                  <option value="Unseen/test dancer">Unseen/test dancer</option>
                </select>
                <span class="text-danger help-block" ng-show="form.type.$error.required">(*) Required</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" ng-disabled="!form.$valid" class="btn btn-primary" />
                &nbsp;
                |
                &nbsp;
                <a ng-click="vm.clear()">Clear</a>
                &nbsp;
                |
                &nbsp;
                <a ng-click="vm.cancel()">Back to Home</a>
            </div>
        </div>
    </div>
</form>

<div>
    <hr>
    <h4>Added Dancers</h4>
    <br />
    <table class="table table-hover">
        <tr>
            <th>No.</th>
            <th>Dancer Name</th>
            <th>Dancer Type</th>
            <th></th>
        </tr>
        <tr ng-repeat="data in vm.master">
            <td ng-click="$parent.selected = $index">{{ $index+1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.type }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="vm.edit(data._id)">Edit</a></li>
                        <li><a ng-click="vm.remove(data._id)">Remove</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
